body {
  background-color: #222222;
  position:         absolute;
  height:           100%;
  width:            100%;
  margin:           0;
}

input,
input[type="text"] {
  position: absolute;
  margin: 5% 15% 0 15%;
  padding: 5px;
  width: 70%;
  font-family: 'Open Sans';
  color: #c7ceda;
  font-size: 14px;
  border-color: transparent;
  height: 2.5em;
  background-color: #333333;
}

table {
  position:         absolute;
  margin:           10% 12% 10% 12%;
  width:            auto;
  border-collapse:  separate;
  border-spacing:   0 20px;
}

/* #grid {
  width: 82%;
} */

td {
  width:            25%;
}

tr {
  height:           30%;
  padding: 5px;
}

img {
  display:          block;
  margin:           auto;
}

img:hover {
  background-color: grey;
  transition:       all 200ms ease-in;
  transform:        scale(1.25);
}
