body {
  background-color:   #222222;
  position:           absolute;
  height:             100%;
  width:              100%;
  margin:             0;
}

table {
  position:           relative;
  margin:             10% 8% 10% 8%;
  width:              auto;
}

#grid {
  width: 82%;
}

td {
  width:              25%;
}

tr {
  height:             30%;
}

img {
  display:            block;
  margin:             auto;
}

img:hover {
  background-color:   grey;
  transition:         all 200ms ease-in;
  transform:          scale(1.25);
}
